html, body {
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kodchasan', sans-serif;
  font-weight: 300;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white
}

p {
  font-size: 1.8rem;
}

.section-container {
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
}

.section-header {
  position: sticky;
  /* top: 100px; */
  width: 220px;
  margin: -30px auto 60px;
  padding: 8px 5px;
  font-size: 3.5rem;
  color: black;
  background-color: #f5dd44;
  z-index: 9;
}

.component-section {
  margin-bottom: 60px;
}

.sub-header {
  font-size: 3rem;
  padding-left: 50px;
}

.header-underline {
  position: relative;
  bottom: 14px;
  height: 4px;
  background-color: #f5dd44;
  width: 200px;
  margin: 0 0 20px 50px;
}


.tint {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(43, 43, 43, 0.6), rgba(82, 82, 82, 0.5), rgba(124, 124, 124, 0.2), rgba(170, 170, 170, 0.1));
}

.banner-tint {
  background-color: rgba(0, 0, 0, 0.30);
}

.kodchasan-3 {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 300;
}

.kodchasan-5 {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 500;
}

.kodchasan-7 {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 700;
}

.no-margin {
  margin: 0;
}

.mb3 {
  margin-bottom: 30px;
}


/* Navbar component */
.mobile-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  z-index: 10;
  background-color: #2db7c3;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50vw;
  margin-top: 100px;
  background-color: #2db7c3;
  z-index: 15;
  transition: 0.3s;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 22vw;
  padding: 40px 10px 20px;
  background-color: #2db7c3;
}

.brand {
  font-size: 2rem;
  letter-spacing: 1px;
}

.brand-tagline {
  font-size: 1rem;
  color: black;
  margin-bottom: 3px;
}

.underline {
  background-color: black;
  height: 2px;
  width: 50%;
  float: right;
}

.link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  font-size: 2.5rem;
  color: white;
  transition: 0.3s;
}

.link:hover {
  color: #f5dd44;
}

.copyright {
  font-size: 1.6rem;
}

.nav-toggle-btn {
  background-color: #2db7c3;
}

.fas {
  font-size: 1.8rem;
}


/* Carousel component */
#homeCarousel,
.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-fade .carousel-item {
  transition-duration: 3s;
}


/* Home component */
.home-container {
  height: 100vh;
  width: 100%;
}

.carousel-overlay {
  position: absolute;
  top: 25%;
  left: 10%;
  right: 10%;
}

.carousel-header {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.carousel-text {
  font-size: 1.5rem;
  max-width: 700px;
}


/* About component */
.menu-link {
  color: #2db7c3;
  transition: 0.3s;
}

.menu-link:hover {
  color: black;
}

/* Menu component */
.menu-row {
  margin-bottom: 30px;
  text-align: center;
}

.dish-name {
  font-size: 2.5rem;
}

.dish-desc {
  margin-bottom: 10px;
}

.dish-price {
  margin: 0;
}

.dish-desc,
.dish-price {
  font-size: 2rem;
}


/* Contact component */
form {
  padding: 25px 20px;
  border: 3px solid #2db7c3;
}

label,
.form-control {
  font-size: 1.4rem;
}

.form-control:focus {
  border-color: #2db7c3;
  box-shadow: none;
}

.btn-submit {
  font-size: 1.6rem;
  background-color: #fff;
  border: 2px solid #f5dd44;
}

.btn-submit:hover {
  background-color: #f5dd44;
  border: 2px solid #f5dd44;
}

.address {
  margin-left: 20px;
}


/* Footer component */
footer {
  height: 150px;
  padding: 0 15px;
  background-color: #2db7c3;
}


/* Media Queries */
@media (min-width: 576px) {
  
  .carousel-header {
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  .carousel-text {
    font-size: 2rem;
    max-width: 700px;
  }

  .brand {
    font-size: 3rem;
    letter-spacing: 1px;
  }
  
  .brand-tagline {
    font-size: 1.4rem;
    color: black;
    margin-bottom: 3px;
  }  

}

@media (min-width: 768px) {
  .section-header {
    top: 70px;
    z-index: 11
  }

  .mobile-menu {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .section-container,
  .home-container,
  .footer {
    margin-left: 22vw;
    width: 78vw;
  }

  .link-list {
    position: relative;
    top: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }  

  .link {
    font-size: 4rem;
  }

  .section-container {
    padding-top: 0;
  }

  .section-header {
    top: 0;
  }

  .brand {
    font-size: 5rem;
    letter-spacing: 1px;
  }
  
  .brand-tagline {
    font-size: 1.8rem;
    color: black;
  }  

  .carousel-overlay {
    top: 25%;
    left: 30%;  
  }

  .menu-row {
    text-align: left;
  }
  
  .sub-header {
    padding-left: 200px;
  }
  
  .header-underline {
    margin: 0 0 20px 200px;
  }
    
}



