html, body {
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kodchasan', sans-serif;
  font-weight: 300;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white
}

.section-container {
  margin-left: 22vw;
  height: 100vh;
  width: 78vw;
}

.section-header {
  position: relative;
  bottom: 35px;
  width: 220px;
  margin: 0 auto 60px;
  padding: 8px 5px;
  font-size: 3.5rem;
  /* color: #17a2b8; */
  color: black;
  background-color: #f5dd44;
}

.tint {
  background-color: rgba(0, 0, 0, 0.30);
}

.kodchasan-3 {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 300;
}

.kodchasan-5 {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 500;
}

.kodchasan-7 {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 700;
}

.orbitron-7 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.no-margin {
  margin: 0;
}


/* Navbar component */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 22vw;
  padding: 40px 10px 100px;
  background-color: #2db7c3;
}

.brand {
  font-size: 5rem;
  letter-spacing: 1px;
}

.brand-tagline {
  font-size: 1.8rem;
  color: black;
}

.underline {
  background-color: black;
  height: 2px;
  width: 50%;
  float: right;
}

.link-list {
  position: relative;
  bottom: 100px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  font-size: 4rem;
  color: white;
  transition: 0.3s;
}

.link:hover {
  color: #f5dd44;
}


/* Carousel component */
#homeCarousel,
.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-fade .carousel-item {
  transition-duration: 3s;
}


/* Home component */
.carousel-overlay {
  position: absolute;
  top: 25%;
  left: 30%;
}

.carousel-header {
  font-size: 4rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.carousel-text {
  font-size: 2rem;
}


/* Menu component */
.header-underline {
  position: relative;
  bottom: 14px;
  height: 4px;
  background-color: #f5dd44;
  width: 200px;
  margin-bottom: 40px;
  margin: 0 0 40px 200px;
}

.menu-section {
  margin-bottom: 60px;
}

.menu-sub-header {
  font-size: 3rem;
  padding-left: 200px;
}

.menu-row {
  margin-bottom: 30px;
}

.dish-name {
  font-size: 2.5rem;
}

.dish-desc,
.dish-price {
  font-size: 2rem;
  margin: 0;
}